body{
  width: 98vw;
  margin: auto;
  padding: 2rem 0;

}

:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

p{
  text-align: center;
  margin-bottom: 3em;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 100px;

}

.flex-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
                        /* Content is centered horizontally */
                        align-items: center;
                        display: flex;
                        border-style: solid;
                        border-radius: 15px;
                        height: 3rem;
                        background-color: gray;
                        justify-content: space-between;

                        /* Reset styles */
                        list-style-type: none;
                        margin: 0;
                    }

.container__item--right {
  /* Sticks to the right */
  margin-left: auto;
}

/* Dropdown navigation menu, second item*/
.dropdown {
                        /* Border */
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        display: flex;
                        justify-content:
                        border-radius: 15px;
                        height: 3rem;
                        align-items: center;

                        /* Reset list styles */
                        list-style-type: none;
                        margin: 50px;
                        padding: 0;
                    }

                    .dropdown li {
                        /* Spacing */
                        padding: 8px;

                        /* Used to position the sub dropdown */
                        position: relative;
                    }

                    /* The sub dropdown */
                    .dropdown ul {
                        /* Border */
                        border: 1px solid rgba(0, 0, 0, 0.3);

                        /* Hidden by default */
                        display: none;

                        /* Absolute position */
                        left: 0;
                        position: absolute;
                        top: 100%;

                        /* Reset styles */
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        /* Width */
                        width: 200px;
                    }

                    /* The second level sub dropdown */
                    .dropdown ul ul {
                        left: 100%;
                        position: absolute;
                        top: 0;
                    }

                    /* Change background color of list item when being hovered */
                    .dropdown li:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                    /* Show the direct sub dropdown when hovering the list item */
                    .dropdown li:hover > ul {
                        display: block;
                    }

/*Buttons 1*/
.button-1 {
  /* Center the content */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* Style the button */
  border-radius: 10px;
  width: 160px;
  height: 40px;
  /*shadow properties */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.button-1:hover, .button-1:focus, .button-1:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.material-icons{
  width: 30%;
}

/* Button 2 */
.chip{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  height: 50px;
  background-color: #374047;

  /* hover effects*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.label{
  margin-right: 20px;
}

.close{
  margin-left: 15px;
}

.chip:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.chip:hover:before, .chip:focus:before, .chip:active:before {
  opacity: 1;
}

.chip-content{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.icon-fade .close {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.icon-fade:hover .close, .icon-fade:focus .close, .icon-fade:active .close {
  color: #9e0f0f;
}

/* Button 3 */
.btn2{
  padding: 15px 100px;
  margin:10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: flex;

}

.btn2::before{
  content: "";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
z-index: -1;
background-color: #000;
-webkit-transform: scaleY(.3);
transform: scaleY(.3);
opacity: 0;
transition: all .3s
}

.btn2:hover{
  color:#6098FF;
}
.btn2:hover::before{
  opacity: 1;
  background-color: #fff;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
  transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}

/* Button 4 search box*/
.search {
                        display: flex;
                        align-items: center;
                        height: 26px;

                        /* If you want to place the icon before the text input */
                        flex-direction: row-reverse;

                        /* Border */
                        border: 1px solid rgba(0, 0, 0, 0.3);
                    }

                    .search__input {
                        border-color: transparent;
                        /* Take available width */
                        flex: 1;
                    }

.typeography-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3rem;
}

/* 1st typography retro */
.gradient-wrapper{
  flex-basis: 50%;
}
article {
  background: linear-gradient(
    to right,
    hsl(98 100% 62%),
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 5vmin;
  line-height: 1.1;
}

h1, {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

/* Typography 2*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

body{
  background:grey;
}

.pop-wrapper{
  flex-basis: 50%;
}
.pop{
  transform: translate(-50%, -50%);
  font-size:80px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow:
						8px 8px #ff1f8f,
						20px 20px #000000;
}

/* typeography 3 */

.logo-1 {
  flex-basis: 50%;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  color: white;
  animation: neon 3s infinite;
  margin-top: 3rem;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

/* typeography 4 */

.deconstructed {
  position: relative;
  margin: auto;
  height: 1em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffff64;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

/* media card styles below */
.media-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box p {
    color: gold;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

.media-img {
    float: right;
}

.orange {
    border-top: 3px solid green;
}

.box h2 {
    color: gold;
    font-weight: var(--weight3);
}
    .box {
        width: 20%;

    }

}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

/* Media card #2 */
.media-image1 {
  width: 30%;
  height: 100%;
  object-fit:cover;

  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);

  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.img-container {
  max-width:600px;
  max-height:350px;



  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;

}
.img-container:hover img {
  opacity:0.3;
}
.img-container img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}
