body{
  width: 98vw;
  margin: auto;
  padding: 2rem 0;

}
p{
  text-align: center;
  margin-bottom: 2em;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 100px;

}

.container {
                        /* Content is centered horizontally */
                        align-items: center;
                        display: flex;
                        border-style: solid;
                        border-radius: 15px;
                        height: 3rem;
                        background-color: gray;
                        justify-content: space-between;

                        /* Reset styles */
                        list-style-type: none;
                        margin: 0;
                    }

.container__item--right {
  /* Sticks to the right */
  margin-left: auto;
}

/* Dropdown navigation menu, second item*/
.dropdown {
                        /* Border */
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        display: flex;
                        justify-content:
                        border-radius: 15px;
                        height: 3rem;
                        align-items: center;

                        /* Reset list styles */
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                    }

                    .dropdown li {
                        /* Spacing */
                        padding: 8px;

                        /* Used to position the sub dropdown */
                        position: relative;
                    }

                    /* The sub dropdown */
                    .dropdown ul {
                        /* Border */
                        border: 1px solid rgba(0, 0, 0, 0.3);

                        /* Hidden by default */
                        display: none;

                        /* Absolute position */
                        left: 0;
                        position: absolute;
                        top: 100%;

                        /* Reset styles */
                        list-style-type: none;
                        margin: 0;
                        padding: 0;

                        /* Width */
                        width: 200px;
                    }

                    /* The second level sub dropdown */
                    .dropdown ul ul {
                        left: 100%;
                        position: absolute;
                        top: 0;
                    }

                    /* Change background color of list item when being hovered */
                    .dropdown li:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                    /* Show the direct sub dropdown when hovering the list item */
                    .dropdown li:hover > ul {
                        display: block;
                    }
